<body class="user-body">

<div class="title">
  <p> Welcome to <%= title %> </p>

  <div class="description">
    <p> Organize your notes the easy way. </p>
  </div>

</div>






<div class="home">
  <a class="btn btn-default" href="/signup" > Sign Up </a>
  <a class="btn btn-default" href="/login"> Log In </a>
</div>


</body>
