<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

  <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lemon" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sintony" rel="stylesheet">
<!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>


<body class="home-body">

<div class="title big">
  <p> Welcome to <%= title %> </p>

  <div class="description">
    <p> Organize your notes the easy way. </p>
  </div>

</div>




<div class="home">
  <a class="btn btn-primary btn-md fa fa-sign-in loginProcess click" href="/signup" > Sign Up </a>
  <a class="btn btn-primary btn-md fa fa-sign-in loginProcess click" href="/login"> Log In </a>
</div>


</body>
</html>
