<a href="/"> Home </a>

<div class="signup">

  <h2> Log In </h2>

  <form class="form-horizontal" method="post" action="process-login" >

    <div class="form-group">
      <label for="email-input"> Email </label>
      <input id="email-input"  name="loginEmail" type="email" placeholder="yourway@learning.com">
    </div>

    <div class="form-group">
      <label for="password-input"> Password </label>
      <input id="password-input"  name="loginPassword" type="password">
      <br>
    </div>

    <!-- <div class="form-group">

    </div> -->



    <button class="btn btn-default" > Log In </button>
    <a class="btn btn-default" href="/signup" > Sign Up </a>

  </form>
  
</div>
