<a class="btn btn-primary btn-md fa fa-sign-in glyphicon glyphicon-home" href="/"> </a>

<!-- <div class="signup">

  <h2> Log In </h2>

  <form class="form-horizontal" method="post" action="process-login" >

    <div class="form-group">
      <label for="email-input"> Email </label>
      <input class="input" id="email-input"  name="loginEmail" type="email" placeholder="yourway@learning.com">
    </div>

    <div class="form-group">
      <label for="password-input"> Password </label>
      <input class="input" id="password-input"  name="loginPassword" type="password">
      <br>
    </div>

    <!-- <div class="form-group">

    </div> -->



    <!-- <button class="btn btn-default" > Log In </button>
    <a class="btn btn-default" href="/signup" > Sign Up </a>

  </form>

</div> -->





  <form class="form-horizontal logsign" method="post" action="process-login" >
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Log In</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" name="loginEmail" placeholder="username" />
            </br>
            <input type="text" id="userPassword" class="form-control input-sm chat-input" name="loginPassword" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
              <button class="btn btn-primary btn-md fa fa-sign-in" > Log In </button>
              <a class="btn btn-primary btn-md fa fa-sign-in" href="/signup" > Sign Up </a>
                <!-- <a href="/user-topics" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a> -->
            </span>
            </div>
            </div>

        </div>
    </div>
</div>

  </form>
