<body class="user-body">



<div class="signup">

    <div>


      <h2> About </h2>

      <h3 class="descriptionTopic">
  <p> If you feel your references are not organized as you want them. This is the app for you! </p>

  <p>In Pace you can create topics and edit them with your own taste at your own paste.</p>

  <p>If you feel you are done with one topic and do not want to go back to it again just DELETE.</p>

  <br><br><br>

  <b> CLICK TO CREATE   <a class="glyphicon glyphicon-plus create" href="/topics/new"> </a> </b>
    </h3>

    </div>


</div>



</body>
