<body class="user-body">


  <div class="signup">
    <h2> Edit Topic </h2>



    <form  class="form-inline" method="post" action="/topics/<%= topicInfo._id %>" enctype="multipart/form-data">

      <label for="image-input"> Image URL (optional) </label>
      <input id="image-input" name="topicPhoto" type="file" value="<%= topicInfo.imageUrl%>">
      <br>

      <label for="topic-input">  Topic Name </label>
      <input class="input" id="topic-input" name="topicName" type="text" value="<%= topicInfo.topic %>">
      <br>


      <label class="form-group" for="description-input"> Description </label>
      <textarea class="form-control input" id="description-input " name="topicDesc" > <%= topicInfo.description %> </textarea>
      <br>




      <button class="btn btn-default"> Update Topic </button>
    </form>
  </div>
</body>
