<body class="user-body">
    <a class="topic-link btn btn-default" href="/user-topics"> My topics </a>


<div class="signup">
  <h2> Add a new Topic </h2>

  <form class="form-inline" action="/topics" method="post" enctype="multipart/form-data">

    <label for="image-input"> Upload Image URL </label>
    <input id="image-input" name="topicImageUrl" type="file">
    <br>

      <label for="topic-input"> Topic Name </label>
      <input class="input" id="topic-input" name="topicName" type="text">
      <br>

      <label for="description-input"> Description </label>
      <textarea  id="description-input" name="topicDescription" ></textarea>
      <br>

    <button class="btn btn-default"> Save this topic </button>

  </form>
</div>

</body>
