<body class="user-body">

<a class="topic-link" href="/user-topics"> My topics </a>


<div class="topic-box">
  <div class="topics">
    <div >

        <img class="photoTopic" src="<%= topicInfo.imageUrl %>" width="60px" height="60px">

      <h2> <%= topicInfo.topic %> </h2>

      <h3 class="descriptionTopic"> <%= topicInfo.description %> </h3>

      <h3> <%= topicInfo.steps %> </h3>
    </div>
  </div>

</div>



</body>
