<body class="user-body">

<div class="navigation">
    <a class="topic-link" href="/user-topics"> My topics </a>

    <form class="form-horizontal search" method="get" action="/topic/search-results" >
      <div class="form-group form-group-lg">
        <label for="term-input"> </label>
        <input  class="col-sm-2 control-label input" id="term-input" name="searchTerm" type="search" >
          <button class="btn btn-default glyphicon glyphicon-search new"> </button>

  <div class="logout">
      <a class=" glyphicon glyphicon-log-out log-out" href="/logout"> </a>
  </div>

</div>


  <div class="signup">
    <h2> Edit Topic </h2>

    <form  class="form-inline" method="post" action="/topics/<%= topicInfo._id %>" >
      <label for="topic-input">  Topic Name </label>
      <input class="input" id="topic-input" name="topicName" type="text" value="<%= topicInfo.topic %>">
      <br>


      <label for="description-input"> Description </label>
      <textarea class="input" id="description-input " name="topicDesc" > <%= topicInfo.description %> </textarea>
      <br>


      <button> Update Topic </button>
    </form>
  </div>
</body>
