
<div class="signup">
  <h2> Add a new Topic </h2>

  <form class="form-inline" action="/topics" method="post">

      <label for="topic-input"> Topic Name </label>
      <input class="input" id="topic-input" name="topicName" type="text">
      <br>

      <label for="description-input"> Description </label>
      <textarea  id="description-input" name="topicDescription" ></textarea>
      <br>

    <button class="btn btn-default"> Save this topic </button>

  </form>
</div>
